In [3]:
from jqdatasdk import *
auth('18620668927', 'minpeng123')

In [4]:
#获取申万一级行业日行情数据
#记录了申万一级行业指数的历史日行情数据，每日18:00更新
# 查询最近10个交易日申万一级行业指数-农林牧渔行业（801010）的日行情数据。
finance.run_query(query(finance.SW1_DAILY_PRICE).filter(finance.SW1_DAILY_PRICE.code=='801010').order_by(finance.SW1_DAILY_PRICE.date.desc()).limit(10))

,id,date,code,name,open,high,low,close,volume,money,change_pct
0,1775366,2019-07-09,801010,农林牧渔,3354.90,3419.91,3304.41,3388.38,1.766199e+09,2.377307e+10,0.63
1,1776166,2019-07-08,801010,农林牧渔,3380.26,3405.14,3316.67,3367.09,2.032852e+09,2.590772e+10,0.42
2,1775899,2019-07-05,801010,农林牧渔,3262.32,3363.94,3262.30,3353.16,1.624178e+09,1.981387e+10,3.15
3,1774834,2019-07-04,801010,农林牧渔,3308.49,3314.15,3243.09,3250.67,1.516656e+09,1.619557e+10,-1.51
4,1774302,2019-07-03,801010,农林牧渔,3338.17,3353.46,3287.85,3300.37,1.812093e+09,2.025210e+10,-1.52
5,1773770,2019-07-02,801010,农林牧渔,3311.13,3389.59,3302.91,3351.21,1.852078e+09,2.137783e+10,1.12
6,1773504,2019-07-01,801010,农林牧渔,3260.81,3317.38,3235.03,3314.11,1.653275e+09,1.797972e+10,2.64
7,1772972,2019-06-28,801010,农林牧渔,3248.84,3253.88,3218.51,3228.72,1.437034e+09,1.378245e+10,-0.84
8,1772440,2019-06-27,801010,农林牧渔,3239.86,3265.41,3218.27,3256.16,1.638711e+09,1.634289e+10,0.54
9,1771908,2019-06-26,801010,农林牧渔,3246.97,3266.85,3237.90,3238.67,1.628903e+09,1.460358e+10,-0.78

In [5]:
#查询最近10个交易日申万一级行业指数-农林牧渔行业（801010）的估值数据
finance.run_query(query(finance.SW1_DAILY_VALUATION).filter(finance.SW1_DAILY_VALUATION.code=='801010').limit(10))

,id,date,code,name,turnover_ratio,pe,pb,average_price,money_ratio,circulating_market_cap,average_circulating_market_cap,dividend_ratio
0,19,1999-12-30,801010,农林牧渔,0.52,35.89,4.18,12.85,2.60,2.320877e+10,859580000.0,NaN
1,42,2000-01-04,801010,农林牧渔,0.74,38.40,4.59,13.22,1.84,2.384899e+10,883300000.0,0.41
2,65,2000-01-05,801010,农林牧渔,1.32,38.60,4.37,13.23,1.93,2.415072e+10,894470000.0,0.46
3,88,2000-01-06,801010,农林牧渔,1.57,39.99,4.52,13.69,2.33,2.501455e+10,926460000.0,0.45
4,111,2000-01-07,801010,农林牧渔,3.37,41.48,4.68,14.13,2.40,2.596561e+10,961690000.0,0.43
5,134,2000-01-10,801010,农林牧渔,2.82,42.18,4.77,14.43,2.15,2.684578e+10,994290000.0,0.42
6,157,2000-01-11,801010,农林牧渔,3.06,41.30,4.67,14.14,2.81,2.623106e+10,971520000.0,0.43
7,180,2000-01-12,801010,农林牧渔,2.23,40.39,4.57,13.86,2.73,2.566619e+10,950600000.0,0.43
8,203,2000-01-13,801010,农林牧渔,1.36,39.88,4.51,13.70,2.87,2.533752e+10,938430000.0,0.44
9,226,2000-01-14,801010,农林牧渔,1.09,39.64,4.49,13.66,2.71,2.523268e+10,934540000.0,0.44